* {
    font-family: tahoma, arial, serif;
}

#pit table {
    border: solid 3px #888;
    border-top-width: 0;
    border-collapse: collapse;
}

#pit tr td:nth-child(1) {
    border-left: 0;
}

#pit td {
    border: solid 1px #AAA;
    border-width: 1px 0 0 1px;
    width: 10px;
    height: 10px;
    font-size: 7px;
}

.figure {
    box-shadow: 2px 2px 4px;
}

.brick {
    background-color: #64432b;
}

.red {
    background-color: #e8692a;
}
.green {
    background-color: #7a9f35;
}
.blue {
    background-color: #326fae;
}
.cyan {
    background-color: #20ae99;
}
.magenta {
    background-color: #b23693;
}
